<form action="." method="POST">
    {% csrf_token %}
    <div style="margin: 50px 0px; font-size: 25; font-weight: 700; width: 230px; text-align: center">Вход</div>
    <div class="login">
        <span style="margin: 50px 0;">Логин:&nbsp;&nbsp;</span>
        <input type="text" name="email" placeholder="Введите email"/>
    </div>
    <div class="password">
        <span style="margin: 50px 0;">Пароль: </span>
        <input type="password" name="password" placeholder="Введите пароль"/>
    </div>
    <input type="submit" value="Войти" style="margin: 10px 0; width: 230px;"/>
</form>
